/* style.css */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bg-dark {
    background-color: #343a40 !important;
}

.text-white {
    color: #fff !important;
}

.container {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
