<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>회원가입</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- 또는 로컬에 Bootstrap 파일을 다운로드 받아 사용할 수도 있습니다. -->
  <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body class="bg-light">
<!-- 헤더 -->
<header class="bg-dark text-white py-3">
  <div class="container text-center">
    <h1>회원가입</h1>
  </div>
</header>

<!-- 회원가입 양식 -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">회원가입</h4>
        </div>
        <div class="card-body">
          <!-- 여기에 회원가입 폼 추가 -->
          <form th:action="@{/api/join}" method="post" th:object="${user}" class="needs-validation" novalidate>
            <div class="form-group" th:classappend="${#fields.hasErrors('*{name}') ? 'has-error' : ''}">
              <label for="name">사용자 이름</label>
              <input type="text" th:field="*{name}" class="form-control" id="name" required/>
              <div class="invalid-feedback">이름 입력하세요.</div>
              <div class="field-error" th:errors="*{name}" style="color: red;">
                이름 오류
              </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('*{userId}') ? 'has-error' : ''}">
              <label for="userId">사용자 아이디</label>
              <input type="text" th:field="*{userId}" class="form-control" id="userId" required/>
              <div class="invalid-feedback">아이디를 입력하세요.</div>
              <div class="field-error" th:errors="*{userId}" style="color: red;">
                아이디 오류
              </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('*{password}') ? 'has-error' : ''}">
              <label for="password">비밀번호</label>
              <input type="password" th:field="*{password}" class="form-control" id="password" required/>
              <div class="invalid-feedback">비밀번호를 입력하세요.</div>
              <div class="field-error" th:errors="*{password}" style="color: red;">
                비밀번호 오류
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3">회원가입</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 푸터 -->
<footer class="bg-dark text-white py-3">
  <div class="container text-center">
    <p>&copy; 2023 회원가입 서비스</p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
